<form class="reanima-actor-sheet" autocomplete="off">

  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="Nombre del personaje"/>
    </h1>
  </header>

  <section class="sheet-body standard-form scrollable">

    <div class="sheet-section abilities form-fields">
        <h3>{{localize "ACTOR.SHEET.Abilities"}}</h3>
        {{#each abilities as |ability|}}
        <div class="ability {{ability.id}} {{ability.type}} flexcol" data-ability="{{ability.id}}">
            <a class="label" data-action="abilityRoll">{{ability.label}}</a>
            <span class="input score">{{ability.modifier}}</span>
            <div class="form-fields">
              <input type="number" name="system.abilities.{{ id }}.base" value="{{ability.base}}">
            </div>
            <div class="form-fields">
              <input type="number" name="system.abilities.{{ id }}.bonus" value="{{ability.bonus}}">
            </div>
        </div>
        {{/each}}
    </div> 

    <div>
      <h3>{{localize "ACTOR.SHEET.Skills"}}</h3>
      {{#each skills as |skill|}}
      <div class="skill {{skill.id}} flexcol" data-skill="{{skill.id}}" data-action="skillRoll">
        <a class="label">{{skill.label}}</a>
        <span class="input score">{{skill.modifier}}</span>
      </div>
      <div class="form-fields">
        <input type="number" name="system.skills.{{ id }}.price" value="{{skill.price}}">
      </div>
      <div class="form-fields">
        <input type="number" name="system.skills.{{ id }}.base" value="{{skill.base}}">
      </div>
      <div class="form-fields">
        <input type="number" name="system.skills.{{ id }}.ability" value="{{skill.ability}}">
      </div>
      <div class="form-fields">
        <input type="number" name="system.skills.{{ id }}.natural" value="{{skill.natural}}">
      </div>
      {{/each}}
    </div>
  </section>

</form>