<form class="reanima-actor-sheet" autocomplete="off">

  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="Nombre del personaje"/>
    </h1>
  </header>

  <section class="sheet-body standard-form scrollable">

    <div class="sheet-section abilities form-fields">
        <h3>{{localize "ACTOR.SHEET.Abilities"}}</h3>
        {{#each abilities as |ability|}}
        <div class="ability {{ability.id}} {{ability.type}} flexcol" data-ability="{{ability.id}}">
            <h4 class="label">{{ability.label}}</h4>
            <span class="input score">{{ability.value}}</span>
            <div class="form-fields">
              <input type="number" name="system.abilities.{{ id }}.base" value="{{ability.base}}">
            </div>
            <div class="form-fields">
              <input type="number" name="system.abilities.{{ id }}.value" value="{{ability.value}}">
            </div>
        </div>
        {{log ability.id}}
        {{log ability.type}}
        {{log ability.label}}
        {{log ability.value}}
        {{log ability.base}}
        {{/each}}
    </div> 

    <div>
      <h3>{{localize "ACTOR.SHEET.Skills"}}</h3>
      {{#each skills as |skill|}}
      <div class="skill {{skill.id}} flexcol">
        <h4 class="label">{{skill.label}}</h4>
        <span class="input score">{{skill.value}}</span>
      </div>
      {{/each}}
    </div>
  </section>

</form>